#gr2{
    position: fixed;
    margin-top: 500px;
    display: none;
}
.popup
{
    border-radius:5px;
    background-color:black;
    color:white;
    padding:5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    left:40px;
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#title{
    position:relative;
    left: 0px;
    top: 0px;
    height:40px;
    font-size: 24px;
    
    background-color: black;
    font-family: verdana;
    color: White;
    text-transform: uppercase; 
}

#title h3
{
    padding-top:2px;
    margin:0px;
}   

#simscreen
{
    position: relative;
    left:0px;
    top:0px;
    height: 600px; 
    width:900px;
    border:solid 1px;
}


.simsubscreen
{
    position:absolute;
    left:50px;
    top:50px;
    height:530px;
    width:745px;
}

.incanvas
{
    margin:5px 0 0 5px;
    padding:0;
}













.blinking
{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText
{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
#q0
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    box-shadow: 20px 25px 20px 25px grey;
}
#q2
{
    position: fixed;
    border: 5px solid grey;
    box-shadow: 20px 25px 20px 25px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q3
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    box-shadow: 20px 25px 20px 25px grey;
}
#q1r2
{
    position: fixed;
    border: 5px inset grey;
    box-shadow: 10px 15px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q2r2
{
    position: fixed;
    border: 5px solid grey;
    box-shadow: 20px 25px 20px 25px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q3r2
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    box-shadow: 20px 25px 20px 25px grey;
    display: none;
}
#q1r23
{
    position: fixed;
    border: 5px inset grey;
    box-shadow: 10px 15px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q2r23
{
    position: fixed;
    border: 5px solid grey;
    box-shadow: 20px 25px 20px 25px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q3r23
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    box-shadow: 20px 25px 20px 25px grey;
    display: none;
}

#q1r24
{
    position: fixed;
    border: 5px inset grey;
    box-shadow: 10px 15px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q2r24
{
    position: fixed;
    border: 5px solid grey;
    box-shadow: 20px 25px 20px 25px grey;
    height: 550px;
    width: 800px;
    display: none;
}
#q3r24
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    box-shadow: 20px 25px 20px 25px grey;
    display: none;
}



#q4
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    background-color: cyan;
    box-shadow: 20px 25px 20px 25px grey;
    display: none;
}
#dialog{display: none;}
#q5
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    background-color: cyan;
    box-shadow: 20px 25px 20px 25px grey;
    display: none;
}
#q6
{
    position: fixed;
    border: 5px solid grey;
    height: 550px;
    width: 800px;
    display: none;
    background-color: cyan;
    box-shadow: 20px 25px 20px 25px grey;
    display: none;
}
#ob1{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}
#ob2{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}
#l23{
    display: none;
}
.blinking
{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText
{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

#p0{
    position: fixed;
    left: 760px;
    top: 510px;
}







#flask100ml {
    position: fixed;
    left: 150px;
    top: 215px;
}
#solid {
    position: fixed;
    left: 470px;
    top: 280px;
}
#solid2 {
    position: fixed;
    left: 470px;
    top: 280px;
    display: none;
}
#flask1 {
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#flask2
{
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#waterbottle 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#waterbottle2 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so4 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so42 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#w1{
    position: fixed;
    left: 480px;
    top: 200px;
}
#w2{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w3{
    position: fixed;
    left: 280px;
    top: 45px;
    display: none;
}
#w4{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w5{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w6{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w7{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}






#testtube {
    position: fixed;
    left: 150px;
    top: 235px;
}
#t1 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t2 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t3 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#flaskwithsoln {
    position: fixed;
    left: 450px;
    top: 230px;
}
#dropper {
    position: fixed;
    left: 700px;
    top: 20px;
}
#dropper2 {
    position: fixed;
    left: 100px;
    top: 50px;
    display: none;
}
#nh4no3 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#nh4no32 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#k4fecn6 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#k4fecn62 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#ww1{
    position: fixed;
    left: 510px;
    top: 10px;
    display: none;
}
#ww2{
    position: fixed;
    left: 510px;
    top: 80px;
    display: none;
}
#ww3{
    position: fixed;
    left: 30px;
    top: 60px;
    display: none;
}
#ww4{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww5{
    position: fixed;
    left: 30px;
    top: 90px;
    display: none;
}
#ww6{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww7{
    position: fixed;
    left: 70px;
    top: 60px;
    display: none;
}
#ww8{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}
#l2{
    position: fixed;
    margin-top: 6px;
    margin-left: : 600px;
    display: none;
}








#calmeter {
    position: fixed;
    left: 60px;
    top: 190px;
}
#t32 {
    position: fixed;
    left: 550px;
    top: 235px;
}
#www1{
    position: fixed;
    left: 480px;
    top: 160px;
    display: none;
}
#www2{
    position: fixed;
    left: 305px;
    top: 430px;
    display: none;
}
#www3{
    position: fixed;
    left: 150px;
    top: 450px;
    display: none;
}
#www4{
    position: fixed;
    left: 145px;
    top: 230px;
    display: none;
}
#ppp2{
    position: fixed;
    left: 318px;
    top: 400px;
    display: none;
}
#ppp3{
    position: fixed;
    left: 150px;
    top: 400px;
    display: none;
}
#l3{
    position: fixed;
    margin-left: 325px;
    margin-top: 370px;
    display: none;
}
#l4{
    position: fixed;
    margin-left: 216px;
    margin-top: 322px;
    display: none;
}
#l5{
    position: fixed;
    margin-left: 149px;
    margin-top: 322px;
    display: none;
}
#www5{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}






































#flask100mlr2 {
    position: fixed;
    left: 150px;
    top: 215px;
}
#solidr2 {
    position: fixed;
    left: 470px;
    top: 280px;
}
#solid2r2 {
    position: fixed;
    left: 470px;
    top: 280px;
    display: none;
}
#flask1r2 {
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#flask2r2
{
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#waterbottler2 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#waterbottle2r2 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so4r2 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so42r2 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#w1r2{
    position: fixed;
    left: 480px;
    top: 200px;
}
#w2r2{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w3r2{
    position: fixed;
    left: 280px;
    top: 45px;
    display: none;
}
#w4r2{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w5r2{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w6r2{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w7r2{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}




#testtuber2 {
    position: fixed;
    left: 150px;
    top: 235px;
}
#t1r2 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t2r2 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t3r2 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#flaskwithsolnr2 {
    position: fixed;
    left: 450px;
    top: 230px;
}
#dropperr2 {
    position: fixed;
    left: 700px;
    top: 20px;
}
#dropper2r2 {
    position: fixed;
    left: 100px;
    top: 50px;
    display: none;
}
#nh4no3r2 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#nh4no32r2 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#k4fecn6r2 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#k4fecn62r2 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#ww1r2{
    position: fixed;
    left: 510px;
    top: 10px;
    display: none;
}
#ww2r2{
    position: fixed;
    left: 510px;
    top: 80px;
    display: none;
}
#ww3r2{
    position: fixed;
    left: 30px;
    top: 60px;
    display: none;
}
#ww4r2{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww5r2{
    position: fixed;
    left: 30px;
    top: 90px;
    display: none;
}
#ww6r2{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww7r2{
    position: fixed;
    left: 70px;
    top: 60px;
    display: none;
}
#ww8r2{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}
#l2r2{
    position: fixed;
    margin-top: 6px;
    margin-left: : 600px;
    display: none;
}

#calmeterr2 {
    position: fixed;
    left: 60px;
    top: 190px;
}
#t32r2 {
    position: fixed;
    left: 550px;
    top: 235px;
}
#www1r2{
    position: fixed;
    left: 480px;
    top: 160px;
    display: none;
}
#www2r2{
    position: fixed;
    left: 305px;
    top: 430px;
    display: none;
}
#www3r2{
    position: fixed;
    left: 150px;
    top: 450px;
    display: none;
}
#www4r2{
    position: fixed;
    left: 145px;
    top: 230px;
    display: none;
}
#ppp2r2{
    position: fixed;
    left: 318px;
    top: 400px;
    display: none;
}
#ppp3r2{
    position: fixed;
    left: 150px;
    top: 400px;
    display: none;
}
#l3r2{
    position: fixed;
    margin-left: 325px;
    margin-top: 370px;
    display: none;
}
#l4r2{
    position: fixed;
    margin-left: 216px;
    margin-top: 322px;
    display: none;
}
#l5r2{
    position: fixed;
    margin-left: 149px;
    margin-top: 322px;
    display: none;
}
#www5r2{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}


























#flask100mlr23 {
    position: fixed;
    left: 150px;
    top: 215px;
}
#solidr23 {
    position: fixed;
    left: 470px;
    top: 280px;
}
#solid2r23 {
    position: fixed;
    left: 470px;
    top: 280px;
    display: none;
}
#flask1r23 {
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#flask2r23
{
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#waterbottler23 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#waterbottle2r23 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so4r23 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so42r23 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#w1r23{
    position: fixed;
    left: 480px;
    top: 200px;
}
#w2r23{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w3r23{
    position: fixed;
    left: 280px;
    top: 45px;
    display: none;
}
#w4r23{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w5r23{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w6r23{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w7r23{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}




#testtuber23 {
    position: fixed;
    left: 150px;
    top: 235px;
}
#t1r23 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t2r23 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t3r23 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#flaskwithsolnr23 {
    position: fixed;
    left: 450px;
    top: 230px;
}
#dropperr23 {
    position: fixed;
    left: 700px;
    top: 20px;
}
#dropper2r23 {
    position: fixed;
    left: 100px;
    top: 50px;
    display: none;
}
#nh4no3r23 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#nh4no32r23 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#k4fecn6r23 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#k4fecn62r23 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#ww1r23{
    position: fixed;
    left: 510px;
    top: 10px;
    display: none;
}
#ww2r23{
    position: fixed;
    left: 510px;
    top: 80px;
    display: none;
}
#ww3r23{
    position: fixed;
    left: 30px;
    top: 60px;
    display: none;
}
#ww4r23{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww5r23{
    position: fixed;
    left: 30px;
    top: 90px;
    display: none;
}
#ww6r23{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww7r23{
    position: fixed;
    left: 70px;
    top: 60px;
    display: none;
}
#ww8r23{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}
#l2r23{
    position: fixed;
    margin-top: 6px;
    margin-left: : 600px;
    display: none;
}


#calmeterr23 {
    position: fixed;
    left: 60px;
    top: 190px;
}
#t32r23 {
    position: fixed;
    left: 550px;
    top: 235px;
}
#www1r23{
    position: fixed;
    left: 480px;
    top: 160px;
    display: none;
}
#www2r23{
    position: fixed;
    left: 305px;
    top: 430px;
    display: none;
}
#www3r23{
    position: fixed;
    left: 150px;
    top: 450px;
    display: none;
}
#www4r23{
    position: fixed;
    left: 145px;
    top: 230px;
    display: none;
}
#ppp2r23{
    position: fixed;
    left: 318px;
    top: 400px;
    display: none;
}
#ppp3r23{
    position: fixed;
    left: 150px;
    top: 400px;
    display: none;
}
#l3r23{
    position: fixed;
    margin-left: 325px;
    margin-top: 370px;
    display: none;
}
#l4r23{
    position: fixed;
    margin-left: 216px;
    margin-top: 322px;
    display: none;
}
#l5r23{
    position: fixed;
    margin-left: 149px;
    margin-top: 322px;
    display: none;
}
#www5r23{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}














#flask100mlr24 {
    position: fixed;
    left: 150px;
    top: 215px;
}
#solidr24 {
    position: fixed;
    left: 470px;
    top: 280px;
}
#solid2r24 {
    position: fixed;
    left: 470px;
    top: 280px;
    display: none;
}
#flask1r24 {
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#flask2r24
{
    position: fixed;
    left: 150px;
    top: 215px;
    display: none;
}
#waterbottler24 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#waterbottle2r24 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so4r24 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#conch2so42r24 {
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#w1r24{
    position: fixed;
    left: 480px;
    top: 200px;
}
#w2r24{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w3r24{
    position: fixed;
    left: 280px;
    top: 45px;
    display: none;
}
#w4r24{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w5r24{
    position: fixed;
    left: 460px;
    top: 190px;
    display: none;
}
#w6r24{
    position: fixed;
    left: 280px;
    top: 5px;
    display: none;
}
#w7r24{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}




#testtuber24 {
    position: fixed;
    left: 150px;
    top: 235px;
}
#t1r24 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t2r24 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#t3r24 {
    position: fixed;
    left: 150px;
    top: 235px;
    display: none;
}
#flaskwithsolnr24 {
    position: fixed;
    left: 450px;
    top: 230px;
}
#dropperr24 {
    position: fixed;
    left: 700px;
    top: 20px;
}
#dropper2r24 {
    position: fixed;
    left: 100px;
    top: 50px;
    display: none;
}
#nh4no3r24 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#nh4no32r24 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#k4fecn6r24 
{
    position: fixed;
    left: 450px;
    top: 260px;
    display: none;
}
#k4fecn62r24 
{
    position: fixed;
    left: 200px;
    top: 80px;
    display: none;
}
#ww1r24{
    position: fixed;
    left: 510px;
    top: 10px;
    display: none;
}
#ww2r24{
    position: fixed;
    left: 510px;
    top: 80px;
    display: none;
}
#ww3r24{
    position: fixed;
    left: 30px;
    top: 60px;
    display: none;
}
#ww4r24{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww5r24{
    position: fixed;
    left: 30px;
    top: 90px;
    display: none;
}
#ww6r24{
    position: fixed;
    left: 440px;
    top: 130px;
    display: none;
}
#ww7r24{
    position: fixed;
    left: 70px;
    top: 60px;
    display: none;
}
#ww8r24{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}
#l2r24{
    position: fixed;
    margin-top: 6px;
    margin-left: : 600px;
    display: none;
}

#calmeterr24 {
    position: fixed;
    left: 60px;
    top: 190px;
}
#t32r24 {
    position: fixed;
    left: 550px;
    top: 235px;
}
#www1r24{
    position: fixed;
    left: 480px;
    top: 160px;
    display: none;
}
#www2r24{
    position: fixed;
    left: 305px;
    top: 430px;
    display: none;
}
#www3r24{
    position: fixed;
    left: 150px;
    top: 450px;
    display: none;
}
#www4r24{
    position: fixed;
    left: 145px;
    top: 230px;
    display: none;
}
#ppp2r24{
    position: fixed;
    left: 318px;
    top: 400px;
    display: none;
}
#ppp3r24{
    position: fixed;
    left: 150px;
    top: 400px;
    display: none;
}
#l3r24{
    position: fixed;
    margin-left: 325px;
    margin-top: 370px;
    display: none;
}
#l4r24{
    position: fixed;
    margin-left: 216px;
    margin-top: 322px;
    display: none;
}
#l5r24{
    position: fixed;
    margin-left: 149px;
    margin-top: 322px;
    display: none;
}
#www5r24{
    position: fixed;
    left: 760px;
    top: 510px;
    display: none;
}










